<div class ="row">
  <% @histories.each do |h| %>
    <div class="col-sm-12 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4><%= h.stock.symbol %></h4></div>
      <table class="table table-striped">
        <tr>
          <td colspan="2"><h4><%= h.stock.name %></h4><h2 class="text-center"><%= number_to_percentage(h.pct_gain.round(2), precision: 2) %></h2></td>
        </tr>
        <tr>
          <td><h4>Average Buying Price: <%= h.buy_price %></h4></td>
          <td><h4> Average Exit Price:</h4></td>
        </tr>
        <tr>
          <td><h4>Position Opened On: <br> <%= h.initiate_date %></h4></td>
          <td><h4>Position Closed On: <br> <%= h.created_at.to_date %></h4></td>
        </tr>
      </table>
      </div>
    </div>
  <% end %>
</div>