<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <% if @user.picture? %>
        <%= image_tag( @user.picture_url(:large), class: 'media-objet img-rounded')%>
      <% end %>
      <h2><%= @user.name %></h2>
        <h3>Historical Gain: </h3>
        <h3>Trades Made: </h3>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= pie_chart @array %>
      
    </div>  
  </div>
  
<div class="row">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#recent" data-toggle="tab"><h1>Recent</h1></a></li>
      <li><a href="#portfolio" data-toggle="tab"><h1>Portfolio</h1></a></li>
      <li><a href="#history" data-toggle="tab"><h1>History</h1></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="recent">
        <%= render "feed/events" %>
      </div>
      <div class="tab-pane" id="portfolio">
        <%= render "portfolio" %>
      </div>
      <div class="tab-pane" id="history">
        <%= render "histories" %>
      </div>
    </div>
  </div>
</div>

