<div class="container-fluid">
    <div class="jumbotron text-center" style="background-color:#0E4C6B; background-image: asset-url("bullish.jpeg", image)">
    <h1>Bullish</h1>
    <h2>Follow Top Portfolios</h2>
    <%= image_tag("bull_logo.png", :alt => "logo", class: 'center-block') %>
    <h2>And Trade Like a Pro</h2>
    <br>
    <div> <%= link_to "Get Started Now!", root_path, class: 'btn btn-primary text-center', style: 'font-size:20px;' %></div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <%= image_tag("playbook.png", :alt => "playbook", class: 'center-block') %>
      <h2>Top Trading Strategies</h2>
      <h4>Instantly access top portofilios and learn from the best traders as they share their trades and active portfolio in real time.</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag("friends.png", :alt => "follow", class: 'center-block') %>
      <h2>Never Miss a Thing</h2>
      <h4>Easily track stock recommendations from friends and experts and see how they play out.</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag("investment.png", :alt => "investment", class: 'center-block') %>
      <h2>There's Something For Everyone</h2>
      <h4>A wide variety of trading strategies of different risk/reward catering to your investment goals.</h4>
    </div>  
    </div>
  </div>
</div>
