<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
 rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid" style="background-color:black;">
  <div class="navbar-header">
    
  </div>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to "Bullish", root_path, class: 'navbar-brand' %></li>
      <li role="presentation"><%= link_to "Home", root_path %></li>
      <li role ="presentation"><%= link_to "Feed", root_path %></li>
      <li role="presentation"><%= link_to "Rankings", root_path %></li>
      <% if current_user %>
        <li role="presentation" class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
        <li role="presentation" class="pull-right"><%= link_to "Hi #{current_user.name || current_user.email}!", edit_user_registration_path %></li>
      <% else %>
        <li role="presentation" class="pull-right"><%= link_to "Login", new_user_session_path %></li>
        <li role="presentation" class="pull-right"><%= link_to "Signup", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>

  <% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
    <% elsif flash[:error] %>
  <div class="alert alert-danger">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
    <% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
  <% end %>
<%= yield %>

</body>
</html>
