<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
 rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="mobile">
<div class="container-fluid" style="background-color:black;">
  <div class="navbar-header">
    
  </div>
    <ul class="nav nav-pills" id="full-nav">
      <li role="presentation" class="active"><%= link_to "Bullish", root_path, class: 'navbar-brand' %></li>
      <li role="presentation"><%= link_to "Home", root_path %></li>
      <li role ="presentation"><%= link_to "Feed", root_path %></li>
      <li role="presentation"><%= link_to "Rankings", root_path %></li>
      <% if current_user %>
        <li role="presentation" class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
        <li role="presentation" class="pull-right"><%= link_to "Hi #{current_user.name || current_user.email}!", edit_user_registration_path %></li>
      <% else %>
        <li role="presentation" class="pull-right"><%= link_to "Login", new_user_session_path %></li>
        <li role="presentation" class="pull-right"><%= link_to "Signup", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="pad"></div>
  <% if current_user %>
    <nav class="navbar navbar-default navbar-fixed-bottom tabs" id="tab-nav">
      <div class="row">
        <div class="col-md-3 col-xs-3">
          <%= link_to image_tag("feed_tab.png", class: 'center-block'), root_path %>
          <h4 class="text-center">Feed</h4>
        </div>
        <div class="col-md-3 col-xs-3">
          <%= link_to image_tag("rankings_tab.png", class: 'center-block'), root_path %>
          <h4 class="text-center">Rankings</h4>
          </div>
        <div class="col-md-3 col-xs-3">
          <%= link_to image_tag("profile_tab.png", class: 'center-block'), root_path %>
          <h4 class="text-center">Profile</h4>
        </div>
        <div class="col-md-3 col-xs-3">
          <%= link_to image_tag("settings_tab.png", class: 'center-block'), root_path %>
          <h4 class="text-center">Settings</h4>
        </div>
      </div>
    </nav>
  <% end %>
</div>

  <% if flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
    <% elsif flash[:error] %>
  <div class="alert alert-danger">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
    <% elsif flash[:alert] %>
  <div class="alert alert-warning">
    <button type="button" class=:"close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
  <% end %>
  
<%= yield %>

</body>
</html>
